.all-product{
    width: 100%;
    margin: auto;
    padding: 10px 0px;
    /* border: 12px solid red; */
}

.product-data-box{
    width: 60%;
    /* border: 2px solid rgb(72, 0, 139); */

}
.product-list{
    width: 90%;

 margin: auto;
 display: grid;
 grid-template-columns: repeat(4,1fr);
 gap: 30px;
 /* border: 2px solid blue; */
   
}
.product-card{
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   border:1px solid #E0E0E0;
    flex-direction: column;
    gap: 20px;
}
.add-cart-btn{
    padding: 5px 15px;
    border-radius: 5px ;
    margin: 15px 0px;
    /* background-color: green; */
    font-size: 15px;
    font-weight: 600;
    color: white;
    background-color: #37474F;
}
.add-cart-btn:hover{
    border: 1px solid green;
    background-color: white;
    color: black;
    /* border: 0px solid blue; */
}
.buy-box{
    width: 100%;
    /* border: 2px solid blue; */
    margin: 50px 0px;
}
.buy-part{
    width: 90%;
    display: flex;
    margin: auto;
    align-items: center;
    /* border: 2px solid red; */
    justify-content:space-between;
}
.Delivery-Options{
    border-bottom: 1px solid gray;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 30px 0px;
}
.Item-Quantity{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    /* align-items: center; */
width: 100%;
padding: 20px 0px;
}
.Item{
    display: flex;
    align-items: start;
    width: 10%;
    /* border: 1px solid firebrick; */
}
.Quantity{
    width: 40%;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    /* border: 1px solid firebrick; */
    /* margin: auto;  */
}
.item-detalis{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.img-box{
    width: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    /* padding: 20px; */
    padding:30px 0px;
    border-bottom: 1px solid gray;
    margin: auto;
}
.all-product-details{
    width: 50%;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    /* border: 2px solid rgb(139, 0, 0); */
    /* margin: auto; */
}
.Discount{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
    /* border: 2px solid rgb(72, 0, 139); */
    margin: auto;
}
.main-img-box{
    width: 30%;
    /* border: 2px solid blue; */
}
.main-img-box>img{
    width: 100%;
}
.remove-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
}
.Remove{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
    /* margin: auto; */
}
.heading-manage{
    font-weight: 600;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    align-items: start;
   
}

.you-save{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px;
    margin:15px 0px ;
    /* border: 2px solid forestgreen; */
}

.payment-part-box{
    /* width: 90%; */
    position: sticky;
    top: 0px;
    width: 30%;
    padding: 10px;
    margin: auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    /* border: 1px solid gray; */
}
.order-samary{
    width: 100%;
    display: flex;
    gap: 10px;
  /* border: 1px solid blue; */
  justify-content: space-between;

}
.pay-method{
    width: 100%;
    /* border: 2px solid green; */
    padding: 20px;
}

.mupliple-option{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid lawngreen; */

}

@media only screen and (min-width: 600px) and (max-width: 1000px) {
    .product-list{
        display: grid;
        grid-template-columns: repeat(3,1fr)
    }
    
}

@media only screen and (min-width: 350px) and (max-width: 600px) {
    .product-list{
        display: grid;
        grid-template-columns: repeat(2,1fr)
    }
    .buy-part{
        width: 50%;
        margin: auto;
        display: inline;
    }
    .pay-btn{
        display: inline;
    }
    
}

@media only screen and (max-width: 350px){
    .product-list{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .buy-part{ 
        width: 50%;
        margin: auto;
display: inline;
    }
    .pay-btn{
        display: inline;
    }

}