
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.Poster1-Image{
    width: 90%;
    margin: auto;
  display: flex;

}

.Image-poster-1{
    width: 67%;
    cursor: pointer;

 
}
.Image-poster-2{
cursor: pointer;
    width: 33%;
   
    } 
.Image-poster-2>img{
width: 100%;
margin-top: 30px;
margin-bottom: 30px;

    }

    .Image-poster-1>img{
        width: 100%;
margin-bottom: 30px;
margin-top: 30px;

    }
  

    .image-poster{
     width: 90%;
        display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: auto;
  
      }
      .image-poster>img{
        width: 100%;
      }

      .image-poster-box{
        width: 100%;
        cursor: pointer;
         margin-top: 10px;
        
      }

      .big-image-poster{
        width: 90%;
       display: grid;
       grid-template-columns: repeat(3, 1fr);
       gap: 20px;
       margin: auto;
  
      }

      .big-image-poster img{
        width: 100%;
      
      }

      .big-image-poster-box-1{
        width: 100%;
         margin-top: 10px;
        
         grid-column: 1 / 3;
  cursor: pointer;
 
      }
      
      .big-image-poster-box-2{
        width: 100%;
         margin-top: 10px; 
         grid-column: 3/4;
         cursor: pointer;
       
      }
      .mother-image-poster{
        display: grid;
        width: 90%;
        margin: auto;
        gap: 20px;
        grid-template-columns: repeat(2,1fr);
      }

      .full-image{
  width: 90%;
  margin: auto;
  margin-top: 40px;
  cursor: pointer;

      }
      .full-image>img{
        width: 100%;
      }

      .breaking-other-product-1{
      width: 90%;
      margin: auto;
      border-bottom: 1px solid #EEEEEE;
      margin-top: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 10px;
  padding-bottom:20px;
  margin-bottom: 20px;
      }

      .top-rated-picked{
        width: 90%;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 20px;
        margin:auto;
        /* border: 2px solid blue; */
      }
 
      .top-rated-picked-2{
        width: 90%;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 20px;
        margin:auto;
        /* border: 2px solid blue; */
      }
  .top-rated-picked-image>img,.top-rated-picked-image-2>img{
    width: 100%;
  cursor: pointer;

  }

  .top-rated-picked-details{
margin-top: 20px;
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: start;
padding: 0px;
gap: 10px;

  }

.space-2{
  display: flex;
  width: 90%;
 padding-top: 1.5rem;
 padding-bottom: 1rem;
 margin-top: 40px;
  border-bottom: 1px solid lightgray;
  margin: auto;
align-items: start;
  
}


.space-3{
  display: flex;
  width: 90%;
 padding-top: 5rem;
 padding-bottom: 1rem;
 margin-top: 40px;
  border-bottom: 1px solid lightgray;
  margin: auto;
align-items: start;
  
}
  /* Slider part start */
  .slider{
      width: 100%;
     margin: auto;
      margin-top: 20px;
      padding: 2rem;
    /* z-index: -2; */
      margin-bottom: 5rem;
      color: #212121;
    }  
    .box:hover{
color: #03A9F4;
width: 100%;
    }
    .box{
      cursor: pointer;
    }
    .slick-slide div{
      margin: 0 0.5rem;
    }

    .slick-next{
      right: 10px !important;
    }
    
    
    .slick-prev {
      left: 25px !important;
      width: 20px !important;
      z-index: 3;
  }
  .slider-part-break{
    display: flex;
    width: 90%;
   padding-top: 1.5rem;
   padding-bottom: 1rem;
   margin-top: 40px;
   /* background-color: red; */
    border-bottom: 1px solid lightgray;
    margin: auto;
  align-items: start;
    
  }
  .slider-part-break-2{
    /* display: flex; */
    width: 90%;
   padding-top: 1.5rem;
   padding-bottom: 1rem;
   margin-top: 40px;
   /* background-color: red; */
    border-bottom: 1px solid lightgray;
    margin: auto;
  /* align-items: start; */
    
  }
  
  @media only screen and (min-width: 200px) and (max-width: 600px) {
        .image-poster{
       display: grid;
       grid-template-columns: repeat(2,1fr)
        }
        .big-image-poster{
          grid-template-columns: repeat(1, 1fr);
        }
        .big-image-poster-box-1{
          grid-column:1;
         
        }
        .big-image-poster-box-2{
       
          grid-column:1;
        }
        .mother-image-poster{
         
       margin: auto;
       align-self: center;
          grid-template-columns: repeat(1,1fr);
        }
        .new-clothing-btn{
          visibility: hidden;
        }
        .top-rated-picked{
          grid-template-columns: repeat(1,1fr);
        }
  
       }
       


      